					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
                            {% if title=='sskl_console' %}
                            <li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/"{{title}}>{{title}}</a>
							</li>
                            {% else %}
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/sskl_console">sskl_console</a>
							</li>
							<li class="active">{{title}}</li>

                            {% endif %}
						</ul><!-- /.breadcrumb -->
					</div>