.panel-group .panel {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
}
.panel-default > .panel-heading {
	padding: 0;
	outline: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	width: 100%;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border: 1px solid #f0f0f0;
	border-top: none;
	background-color: #fafafa
}
.panel-heading a {
	font-weight: 400;
	padding: 12px 35px 12px 15px;
	display: inline-block;
	width: 100%;
	background-color: #c7c7c7;
	color: #ffffff;
	position: relative;
	text-decoration: none;
}
.panel-dark .panel-heading a,
.panel-dark .panel-heading a:hover {
	background-color: #333333;
}
.panel-transparent .panel-default > .panel-heading,
.panel-transparent .panel-default > .panel-heading + .panel-collapse > .panel-body {
	background-color: transparent;
	color: inherit;
}
.panel-transparent .panel-heading a {
	border: 1px solid #f1f1f1;
}
.panel-transparent .panel-heading a.collapsed {
	color: inherit;
	background-color: transparent;
}
.panel-heading a.collapsed {
	color: #ffffff;
	background-color: #999999;
}
.panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f147";
	position: absolute;
	right: 15px;
	font-size: 14px;
	font-weight: 300;
	top: 50%;
	line-height: 1;
	margin-top: -7px;
}
.panel-heading a.collapsed:after {
	content: "\f196";
}
.panel-heading a:hover,
.panel-transparent .panel-heading a:hover {
	text-decoration: none;
	background-color: #c7c7c7;
	color: #ffffff;
}
.panel-title a i {
    padding-right: 10px;
    font-size: 20px;
}

html,body { height: 100%; padding: 0; margin: 0; }

