{% extends "templates/new_base.html" %}

{% block leftnav %}
    {% for ll in leftnavlist %}
        {% if ll['url']=='/S_Remote_Maintenance' %}
            <li class="active">
        {% else %}
            <li class="">

        {% endif %}
                <a href={{ll['url']}} >
            <i class="menu-icon fa {{ll['ico']}}"></i>
            <span class="menu-text"> {{ll['name']}} </span>
        </a>

        <b class="arrow"></b>
    </li>
    {% endfor %}
{% endblock %}

{% block content %}
{% include "templates/S_breadcrumbs.html" %}
<h1>Hi, {{title}}!</h1>

{% endblock %}

