{% extends "templates/new_base.html" %}
{% block mystyle %}
	<style>
		{% include "templates/includes/S_Station.css" %}
	</style>
{% endblock %}
{% block myscript %}
<script src="http://cdn.bootcss.com/vue/2.2.6/vue.js"></script>

{% endblock %}



{% block content %}
{% include "templates/pages/S_Station_info.js" %}
{% include "templates/S_breadcrumbs.html" %}

	<!-- accordion start -->
	<div class="panel-group panel-transparent" id="accordion-3">
		<div class="panel panel-default ">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion-3" href="#collapseOne-3">
						<i class="fa fa-cc-amex"></i>{{_('Battery Pack')}}
					</a>
				</h4>
			</div>
			<div id="collapseOne-3" class="panel-collapse collapse in">


				<div id="myCarousel" class="carousel" data-ride="carousel">
					<div id="vm">
					<div class="panel-body" id="taglist">

						<div class="col-xs-12 col-sm-4 col-lg-4">
								<div class="col-xs-12 col-sm-12 profile-info-value">
									{{_('Local Time')}}:
									<span v-text="time"></span>
								</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-lg-4">
								<div class="col-xs-12 col-sm-12 profile-info-value">
									{{_('Battery No')}}:<span v-text="RTvalue.BNo.value"></span>
									<span>{{_('Total Battery')}}:{{vsn|length}}</span>
								</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-lg-4">
								<div class="col-xs-12 col-sm-12 profile-info-value">
									{{_('Environment Temperature')}}:
									<span v-text="RTvalue.Tenv.value"></span>
								</div>
						</div>


				<div class="hr hr-18 dotted hr-double"></div>

						{% for tag in tags.tags %}
							<div class="col-xs-12 col-sm-6 col-lg-3 profile-info-row">
								<div class="col-xs-6 col-sm-6 profile-info-value">
									{{tag.desc}}
								</div>
								<div class="col-xs-6 col-sm-6 profile-info-value" data-tagname="{{tag.name}}" data-devsn="vsn">
									<span v-text="RTvalue.{{tag.name}}.value" :style="[RTvalue.{{tag.name}}.isA?styleA:'', RTvalue.{{tag.name}}.isB?styleB:'', RTvalue.{{tag.name}}.isC?styleC:'']"></span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

						<a class="carousel-control left" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
				</div>
			</div>
		</div>

        <div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion-3" href="#collapseTwo-3" class="collapsed">
						<i class="fa fa-bank"></i>{{_('Station Info')}}
					</a>
				</h4>
			</div>
			<div id="collapseTwo-3" class="panel-collapse collapse">
				<div class="panel-body">



					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Station Code')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.code }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Station Name')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.station_name }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Station Desc')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.description }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Station Address')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.address_text }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Station Type')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.station_type }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Setup Type')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.setup_type }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Power Level')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.power_level }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Setup Time')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.setup_time }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Battery Setup Type')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{ doc.battery_setup_type }}
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">

						<div class="col-xs-6 col-sm-6 profile-info-value">
							{{_('Service Type')}}：
						</div>
						<div class="col-xs-6 col-sm-6 profile-info-value">
							{% for s in doc.cell_service_list %}
							<div>
								{{ s.service_type }}
							</div>
							{% endfor %}
						</div>

					</div>


				</div>



			</div>
		</div>

        <div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion-3" href="#collapseThree-3" class="collapsed">
						<i class="fa fa-ioxhost"></i>{{_('Gateway Info')}}
					</a>
				</h4>
			</div>
			<div id="collapseThree-3" class="panel-collapse collapse">
				<div id="symvm">
					<div class="panel-body" id="symlink">

							{% for tag in symtags.tags %}
								<div class="col-xs-12 col-sm-6 col-lg-3 profile-info-row">
									<div class="col-xs-6 col-sm-6 profile-info-value">
										{{tag.desc}}
									</div>
									<div class="col-xs-6 col-sm-6 profile-info-value" data-tagname="{{tag.name}}" data-devsn="sn">
										<span v-text="RTvalue.{{ tag.name|replace('.', '_', 2) }}.value" :style="[RTvalue.{{ tag.name|replace('.', '_', 2) }}.isA?styleA:'', RTvalue.{{ tag.name|replace('.', '_', 2) }}.isB?styleB:'', RTvalue.{{ tag.name|replace('.', '_', 2) }}.isC?styleC:'']"></span>
									</div>
								</div>
							{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- accordion end -->


{% endblock %}

