{% extends "templates/new_base.html" %}

{% block mystyle %}
<link type="text/css" rel="stylesheet" href="/assets/sskl_webui/assets/css/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
{% endblock %}


{% block myscript %}

{% endblock %}




{% block content %}
{% include "templates/S_breadcrumbs.html" %}

    <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-2">
        <div class="widget-box widget-color-grey" id="widget-box-2">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    {{title}}
                </h5>

            </div>

            <div>
            <table id="example"  class="display responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{_('code')}}</th>
                        <th>{{_('station_name')}}</th>
                        <th>{{_('station_type')}}</th>
                        <th>{{_('address_text')}}</th>
                    </tr>
                </thead>

            </table>
        </div>
        </div>

    </div><!-- /.span -->


		<script src="/assets/sskl_webui/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/sskl_webui/assets/js/jquery.dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
{% include "templates/pages/S_Station_List.js" %}
{% endblock %}

