{% extends "templates/new_base.html" %}



{% block content %}

{% include "templates/S_breadcrumbs.html" %}
<div class="page-header">
<h1>Hi, {{title}}!</h1>
</div>

<div class="col-xs-12 col-sm-6">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-star orange"></i>
                Popular Domains
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body" style="display: block;">
            <div class="widget-main no-padding">
                <img src="/assets/sskl_webui/assets/images/demo/img1.png"  height="400" alt="" />
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.widget-box -->
</div>

<div class="col-xs-12 col-sm-6">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-star orange"></i>
                Popular Domains
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body" style="display: block;">
            <div class="widget-main no-padding">
                <img src="/assets/sskl_webui/assets/images/demo/img2.png" height="400" alt="" />
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.widget-box -->
</div>

<div class="col-xs-12 col-sm-6 widget-container-col ui-sortable" id="widget-container-col-12">

    <div class="widget-box transparent ui-sortable-handle" id="widget-box-12">
            <div class="widget-header">
                <h4 class="widget-title lighter">Transparent Box</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body" style="display: block;">
                <div class="widget-main padding-6 no-padding-left no-padding-right">

                </div>
            </div>
        </div>
</div>

<div class="col-xs-12 col-sm-6 widget-container-col ui-sortable" id="widget-container-col-12">

    <div class="widget-box transparent ui-sortable-handle" id="widget-box-12">
            <div class="widget-header">
                <h4 class="widget-title lighter">Transparent Box</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body" style="display: block;">
                <div class="widget-main padding-6 no-padding-left no-padding-right">

                </div>
            </div>
        </div>
</div>





{% endblock %}

